{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!--  -->

{% block title %}
    Bitcoin Price Chart
{% endblock title %}

{% block content %}
<div class="col-md-6 col-auto">
  <div class="card">
    

      <form action="" method='POST'>

        {% csrf_token %}
        {{search_form| crispy}}

        <button type="submit" class="btn btn-primary mt-3">search</button>
      </form>

      <div class="card-header">
        <h2 class="text-center">Bitcoin price change over *** to ***</h2>
      </div>

      {% for date,price in price.items %}
      <input type="hidden" class="date-item" value="{{date}}">
      <input type="hidden" class="price-item" value="{{price}}">
      {% endfor %}

      <canvas id="myChart" width="400" height="400">
      
      </canvas>

  </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'chart.js' %}"></script>
{% endblock script %}
